@charset "UTF-8";

:root {
  --main-color: #eb51c2;
}

/*--------------------------------
  デバッグ用
---------------------------------*/
body {
  border: 1px solid orange;
}

header {
  border: 1px solid greenyellow;
}

main {
  border: 1px solid magenta;
}

footer {
  border: 1px solid blue;
}

div {
  border: 1px dashed red;
}

span {
  border: 1px dashed green;
}

section {
  border: 5px dashed yellow;
}

/*--------------------------------
  全体
---------------------------------*/
body {
  font-family: "Josefin Sans", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  color: #111;
  font-feature-settings: "palt";
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.btn {
  width: 100%;
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: var(--main-color);
}
/*--------------------------------
ヘッダー
---------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding: 40px 33px;
  width: 100%;
}
.head__logo-img {
  width: 179px;
}
.head__req--btn {
  width: 180px;
}

/*--------------------------------
MainView
---------------------------------*/
.mv {
  position: relative;
  width: 100%;
  height: 765px;
}
.mv__eyecatch-img {
  position: absolute;
  top: 0;
  left: 28%;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom-left-radius: 100px;
  background-image: url(img/bg_mv.webp);
  background-repeat: no-repeat;
  background-position: 40% center;
  background-size: cover; /*%指定*/
}