@charset "UTF-8";

:root {
  --main-color: #eb51c2;
}

/*--------------------------------
  デバッグ用
---------------------------------*/
/* body {
  border: 1px solid orange;
}

header {
  border: 1px solid greenyellow;
}

main {
  border: 1px solid magenta;
}

footer {
  border: 1px solid blue;
}

div {
  border: 1px dashed red;
}

span {
  border: 1px dashed green;
}

section {
  border: 5px dashed yellow;
} */

/*--------------------------------
  全体
---------------------------------*/
body {
  font-family: "Josefin Sans", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  color: #111;
  font-feature-settings: "palt";
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.btn {
  width: 100%;
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: var(--main-color);
}
/*--------------------------------
ヘッダー
---------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding: 55px 20px 20px 44px;
  width: 100%;
}
.head__logo-img {
  width: 220px;
}
.head__req--btn {
  width: 170px;
}

/*--------------------------------
MainView
---------------------------------*/
.mv {
  position: relative;
  height: 715px;
}
.mv__eyecatch-img {
  position: absolute;
  top: 0;
  left: 29%;
  width: 100%;
  height: 129.5%;
  z-index: -1;
  border-bottom-left-radius: 80px;
  background-image: url(img/bg_mv.webp);
  background-repeat: no-repeat;
  background-position-x: -434px;
  background-position-y: center;
  background-size: cover; /*%指定*/
}
.mv__title {
  position: relative;
  top: 340px;
  left: 48px;
  font-size: min(12vw, 93px);
  font-style: italic;
  line-height: 1;
  margin-bottom: 10px;
  letter-spacing: -0.00em;
}
.mv__title-and {
  font-size: min(9vw, 85px);
  color: var(--main-color);
  margin-inline: -1px;
}
.mv__subcontext {
  position: relative;
  top: 50%;
  left: 46px;
  font-size: min(3.5vw, 32px);
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.03em;
}
.mv__req{
  display:block;
  width: 488px;
  height: 113px;
  position: relative;
  top: 55%;
  left: 6%;
  font-size: min(3.2vw, 27px);
  line-height: 1;
  padding-top: 5%;
  letter-spacing: 0.09em;
}
/*--------------------------------
Intro
---------------------------------*/
.intro {
  margin-top: -92px;
}
.intro__title {
  font-size: 88px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  margin-left: -27px;
  color: var(--main-color);
  text-align: center;
  letter-spacing: 0.01em;
}
.intro__title span {
  margin-left: 31px;
}
.intro__subtitle {
  margin-top: 3px;
  margin-left: 5px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.12em;
}
.intro__subtitle span {
  color: var(--main-color);
}
.intro__text {
  padding-top: 43px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 24px;
  line-height: 1.8;
  letter-spacing: -0.1em;
}
/*--------------------------------
About
---------------------------------*/
.about__train {
  position: relative;
  margin-top: 22px;
}
/* .about__train-img {
} */
.about__train-box {
  position: relative;
  margin-top: -22px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 70px 30px 30px 50px;
  border-radius: 12px;
  background-color: #fff;
}
.about__train-title {
  margin-top: -5px;
  font-size: 27px;
  color: var(--main-color);
  letter-spacing: 0.03em;
}
.about__train-h2 {
  margin-top: 39px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.6;
}
.about__train-p {
  margin-left: -2px;
  padding-top: 23px;
  padding-right: 20px;
  font-size: 21px;
  line-height: 1.82;
  letter-spacing: -0.05em;
}

.about__food {
  position: relative;
  margin-top: 65px;
}
.about__food-img {
  max-width: 600px;
  height: auto;
}
.about__food-box {
  position: relative;
  margin-top: -20px;
  margin-left: 33px;
  margin-right: 33px;
  border-radius: 12px;
  background-color: #fff;
}
.about__food-title {
  margin-top: 12%;
  margin-left: 9%;
  font-size: 30px;
  color: #00b21b;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
.about__food-h2 {
  margin-top: 6.5%;
  margin-left: 9%;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 0.025em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.about__food-p {
  margin-top: 2.5%;
  margin-left: 9%;
  margin-right: 9%;
  font-size: 22px;
  line-height: 1.72;
  letter-spacing: -0.05em;
}
.about__reg-btn {
  display: block;
  margin-top: 110px;
  width: 100%;
}
.about__reg-btndeco {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  height: 85px;
  margin: 0 auto;
  font-size: 20.5px;
}

.trainer {
  margin-top: 12%;
}
.present__trainersandstaffs {
  background-color: var(--main-color);
}
.present__trainersandstaffs--title {
  padding-top: 48px;
  padding-left: 48px;
  color: #fff;
  font-size: 66px;
  letter-spacing: -0.015em;
}
.present__trainersandstaffs--titlekana {
  padding-top: 10px;
  padding-left: 48px;
  color: #fff;
  font-size: 24px;
  letter-spacing: -0.08em;
}
.trainer__tabs {
  padding: 8% 8% 5% 8%;
  display: grid;
  place-content: center;
  place-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.03em;
  cursor: pointer;
  grid-template-columns: repeat(2, 1fr);
}
.trainer__tab {
  text-align:center;
  width: 100%;
  height: 50px;
}
.tab--active {
  border-bottom: #fff solid 4px;
}
.trainer__tab--content {
  display: none;
  width: 100%;
}
.trainer__tab--content.show {
  display: block;
}
.trainer__tab--personlist {
  display: grid;
  row-gap: 30px;
}
.trainer__tab--personbox {
  overflow: hidden;
  border-radius: 12px;
  width: 84%;
  margin: 0 auto;
}
.trainer__tab--personbox img {
  margin: 0 auto;
}
.trainer__tab--personbox p {
  background-color: #fff;
  padding: 36px 30px 36px;
  font-size: 20px;
  line-height: 1.72;
}
.trainer__tab--emptyarea {
  height: 110px;
  background-color: var(--main-color);
}