@charset "UTF-8";

:root {
  --main-color: #eb51c2;
}
/*--------------------------------
  全体
---------------------------------*/
body {
  font-family: "Josefin Sans", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  color: #111;
  font-feature-settings: "palt";
}
.top__container {
  margin: 0 auto;
  width: 96vw;
  outline: dashed 10px yellowgreen;
  min-width: 375px;
  max-width: 1440px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
.btn {
  width: 100%;
  font-size: clamp(10px, 0.28vw + 8.94px, 13px);
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  padding: clamp(10px, 0.94vw + 6.48px, 20px) clamp(10px, 0.94vw + 6.48px, 20px);
  border-radius: 50px;
  background-color: var(--main-color);
}
/*--------------------------------
ページアップエフェクト
---------------------------------*/
.fadeUpEffect {
  opacity: 0;
}

.fadeUp {
  opacity: 0;
  animation-name: kffadeUp;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes kffadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*--------------------------------
ヘッダー
---------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: fixed;
  z-index: 100;
  padding: calc(4px - clamp(0px, 0.38vw - 1.41px, 4px)) calc(20px - clamp(0px, 1.03vw - 3.87px, 11px));
  width: 96vw;
  min-width: 375px;
  max-width: 1440px;
  height: clamp(54px, 2.54vw + 44.49px, 81px);
}
.header_logo {
  margin-left: clamp(0px, 2.07vw + -7.75px,22px);
}
.head__logo-img {
  width: clamp(96.7px, 7.82vw + 67.37px, 180px);
}
.head__req--btn {
  display: block;
  width: 220px;
}
.header__btn {
  display: none;
}
.header--active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
}
.header--active .header__btn {
  display: block;
}

/*--------------------------------
ヘッダーAnimation
---------------------------------*/
/*全共通*/
.bgextend {
  position: relative;
  opacity: 0;
  overflow: hidden; /*はみ出た色要素を隠す*/
  animation-name: bgextendAnimeBase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bgappear {
  opacity: 0;
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*左から右*/
.bgLRextend::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  animation-name: bgLRextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes bgLRextendAnime {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.bgappearTrigger,
.bgLRextendTrigger {
  opacity: 0;
}

/*--------------------------------
MainView
---------------------------------*/
.mv {
  position: relative;
  height: clamp(448px, 27.89vw + 343.42px, 745px);
}
.mv__eyecatch-img {
  position: absolute;
  top: 0;
  left: clamp(109px, 24.04vw + 18.86px,365px);
  width: clamp(267px, 72.02vw - 3.07px,1034px);
  height: clamp(408px, 23vw + 321.73px,653px);
  z-index: -1;
  border-bottom-left-radius: 80px;
  background-image: url(img/bg_mv.webp);
  background-repeat: no-repeat;
  background-position-x: clamp(-191px, 17.93vw + -258.25px,0px);
  background-position-y: 0px;
  background-size: clamp(637px, 35.77vw + 502.85px,1018px);
}
.mv__title {
  position: relative;
  top: clamp(150px, 6.1vw + 127.11px,215px);
  left: clamp(22px, 13.62vw + -29.06px,167px);
  font-size: clamp(41px, 4.13vw + 25.51px,85px);
  font-style: italic;
  line-height: 1;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
}
.mv__title-and {
  font-size: min(9vw, 85px);
  color: var(--main-color);
  margin-inline: -1px;
}
.mv__subcontext {
  position: relative;
  top: clamp(154px, 7.14vw + 127.24px,230px);
  left: clamp(22px, 13.43vw + -28.35px,165px);
  font-size: clamp(13.1px, 1.31vw + 8.21px,27px);
  font-weight: bold;
  line-height: 1;
  letter-spacing: clamp(-0.18px, 0.02vw + -0.24px,-0.005px);
}
.mv__req{
  display:block;
  width: clamp(218px, 12.58vw + 170.82px,352px);
  height: clamp(54px, 2.25vw + 45.55px,78px);
  position: relative;
  top: clamp(167px, 7.98vw + 137.07px,252px);
  left: clamp(21px, 13.8vw + -30.76px,168px);
  font-size: clamp(12px, 0.66vw + 9.54px,19px);
  padding-top: clamp(22px, 1.22vw + 17.42px,35px);
  letter-spacing: clamp(1px, 0.01vw + 0.96px,1.1px);
}
/*--------------------------------
Intro
---------------------------------*/
.intro {
  margin-top: calc(-58px - clamp(0px, 4.98vw + -18.66px,53px));
  margin-left: 12px;
}
.intro__title {
  font-size: clamp(55px, 4.6vw + 37.75px,104px);
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  margin-left: calc(32px - clamp(0px, 5.54vw + -20.77px,59px));
  color: var(--main-color);
  letter-spacing: 0.01em;
}
.intro__title span {
  margin-left: calc(59px - clamp(0px, 3.94vw + -14.79px,42px));
}
.intro__subtitle {
  margin-top: clamp(3px, 0.75vw + 0.18px,11px);
  margin-left: calc(54px - clamp(0px, 5.45vw + -20.42px,58px));
  font-size: clamp(16px, 1.31vw + 11.07px,30px);
  font-weight: bold;
  letter-spacing: clamp(1.6px, 0.216vw + 0.79px,3.9px);
}
.intro__subtitle span {
  color: var(--main-color);
}
.intro__text {
  padding-top: clamp(26px, 0.09vw + 25.65px,27px);
  padding-right: clamp(26px, 0.38vw + 24.59px,30px);
  padding-bottom: 10px;
  padding-left: clamp(8px, 1.6vw + 2.01px,25px);
  font-size: 16px;
  line-height: clamp(26.9px, 0.29vw + 25.81px,30px);
  letter-spacing: -2.1px;
}
/*--------------------------------
About
---------------------------------*/
.about__train {
  position: relative;
  margin-top: clamp(9px, 0.85vw + 5.83px,18px);
}
.about__train-img {
  width: 96vw;
  min-width: 375px;
  max-width: 993px;
}
.about__train-box {
  position: relative;
  margin-top: -13px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 70px;
  padding-right: clamp(0px, 3.85vw + -14.44px,41px);
  padding-bottom: 30px;
  padding-left: 50px;
  border-radius: 12px;
  background-color: #fff;
}
.about__train-title {
  margin-top: clamp(-30px, 1.88vw + -37.04px,-10px);
  margin-left: clamp(-21px, 2.72vw + -31.21px,8px);
  font-size: clamp(17.5px, 0.39vw + 16.02px,21.7px);
  color: var(--main-color);
  letter-spacing: 0.03em;
}
.about__train-h2 {
  margin-top: 24px;
  margin-left: clamp(-19px, 2.44vw + -28.15px,7px);
  font-size: clamp(20px, 0.75vw + 17.18px,28px);
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.65;
}
.about__train-p {
  margin-left: clamp(-19px, 2.44vw + -28.15px,7px);
  padding-top: 11px;
  padding-right: calc(24px - clamp(0px, 0.38vw + -1.41px,4px));
  font-size: 14px;
  line-height: clamp(24.4px, 0.19vw + 23.7px,26.4px);
  letter-spacing: -0.05em;
}
.about__food {
  position: relative;
  margin-top: clamp(27px, 7.89vw + -2.58px,111px);
}
.about__food-img {
  width: 96vw;
  min-width: 375px;
  max-width: 912px;
}
.about__food-box {
  position: absolute;
  margin-top: -11px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 12px;
  background-color: #fff;
}
.about__food-title {
  margin-top: calc(-1px - clamp(0px, 0.66vw + -2.46px,7px));
  margin-left: clamp(30px, 2.54vw + 20.49px,57px);
  padding-top: clamp(41px, 2.16vw + 32.9px,64px);
  font-size: clamp(19px, 0.47vw + 17.24px,24px);
  color: #00b21b;
  letter-spacing: 0.425px;
  margin-bottom: 20px;
}
.about__food-h2 {
  margin-top: 0px;
  margin-left: clamp(31px, 2.44vw + 21.85px,57px);
  font-size: clamp(21.3px, 0.82vw + 18.24px,30px);
  font-weight: bold;
  letter-spacing: 0.025em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.about__food-p {
  margin-top: calc(-6px - clamp(0px, 0.52vw + -1.94px,5.5px));
  margin-left: clamp(30px, 2.35vw + 21.2px,55px);
  margin-right: 9%;
  font-size: clamp(14px, 0.19vw + 13.3px,16px);
  line-height: 1.72;
  letter-spacing: calc(-0.9px - clamp(0px, 0.1vw + -0.39px,1.1px));
}
.about__reg-btn {
  display: block;
  margin: 0 auto;
  margin-top: 387px;
  width: clamp(300px, 4.41vw + 283.45px,347px);
}
.about__reg-btndeco {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(52px, 3.1vw + 40.38px,85px);
  margin: 0 auto;
  font-size: clamp(13px, 0.61vw + 10.71px,19.5px);
}
/*--------------------------------
Trainer
---------------------------------*/
.trainer {
  margin-top: 42px;
}
.present__trainersandstaffs {
  background-color: var(--main-color);
  margin-top: -1px;
}
.present__trainersandstaffs--title {
  padding-top: calc(33px - clamp(0px, 3.1vw + -11.62px,33px));
  padding-left: clamp(30px, 11.74vw + -14.01px,155px);
  color: #fff;
  font-size: clamp(41.1px, 2.15vw + 33.04px,64px);
  letter-spacing: -0.015em;
}
.present__trainersandstaffs--titlekana {
  padding-top: calc(7px - clamp(0px, 0.66vw + -2.46px,7px));
  padding-left: clamp(29.5px, 12.16vw + -16.1px,159px);
  color: #fff;
  font-size: clamp(15px, 0.47vw + 13.24px,20px);
  letter-spacing: -1px;
}
.trainer__tabs {
  padding-top: calc(30px - clamp(0px, 0.47vw + -1.76px,5px));
  padding-right: clamp(30px, 11.17vw + -11.9px,149px);
  padding-bottom: calc(20px - clamp(0px, 0.94vw + -3.52px,10px));
  padding-left: clamp(32px, 10.89vw + -8.85px,148px);
  display: grid;
  place-content: center;
  place-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;
  grid-template-columns: repeat(2, 1fr);
}
.trainer__tab {
  text-align:center;
  width: 100%;
  height: 31px;
}
.tab--active {
  border-bottom: #fff solid 4px;
}
.trainer__tab--content {
  display: none;
  width: 100%;
}
.trainer__tab--content.show {
  display: block;
}
.trainer__tab--personlist {
  display: grid;
  row-gap: 15px;
}
.trainer__tab--personbox {
  overflow: hidden;
  border-radius: 12px;
  width: 84%;
  margin: 0 auto;
}
.trainer__tab--personbox img {
  margin: 0 auto;
}
.trainer__tab--personbox p {
  display: inline-block;
  height: 100px;
  width: 100%;
  background-color: #fff;
  padding: 26px 20px 20px;
  font-size: 12px;
  line-height: 1.8;
}
.trainer__tab--emptyarea {
  height: calc(70px - clamp(0px, 2.82vw + -10.56px,30px));
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: var(--main-color);
}
/*--------------------------------
Studio
---------------------------------*/
.studio {
  margin-top: 9.5%;
  padding: 0 8%;
}
.present__studio--title {
  font-size: 41px;
  letter-spacing: -0.015em;
}
.present__studio--titlekana {
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--main-color);
  letter-spacing: -0.04em;
}
.swiper-wrap {
  position: relative;
  margin: 9% 0 0;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -28px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
}
.swiper-button-prev {
  top: 49.5%;
  left: max(-20px,-5vw);
}
.swiper-button-next {
  top: 49.5%;
  left: max(300px,79vw);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: "Material Icons Round";
  font-size: 37px;
  color: var(--main-color);
}

.swiper-button-prev:after {
  content: "navigate_before";
}

.swiper-button-next:after {
  content: "navigate_next";
}
.swiper-pagination-bullet-active {
  background: var(--main-color);
}
/*--------------------------------
Price
---------------------------------*/
.price {
  margin-top: 10.5%;
}
.price_div {
  background-color: var(--main-color);
  margin-top: -1px;
}
.price_div--title {
  padding-top: 38px;
  padding-left: 30px;
  color: #fff;
  font-size: 41px;
  letter-spacing: -0.015em;
}
.price_div--title-ja {
  padding-top: 6px;
  padding-left: 30px;
  color: #fff;
  font-size: 14px;
  letter-spacing: -0.1em;
}
.price_list {
  position: relative;
  white-space: nowrap;
  margin-top: -24px;
  padding-top: 25px;
  padding-right: 20px;
  overflow-x: auto;
}
.pricebox {
  display: inline-block;
  position: relative;
  width: 85.5vw;
  margin-top: 7.5%;
  margin-left: 5.5%;
  margin-bottom: 1%;
  padding: 40px 20px 0;
  text-align: center;
  border-radius: 12px;
  background-color: #fff;
}
.pricebox__recog {
  position: absolute;
  top: -24px;
  left: 50%;
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: var(--main-color);
  padding: 10px;
  transform: translateX(-50%);
  border: 2px solid var(--main-color);
  border-radius: 50px;
  background-color: #fff;
}
.pricebox__title {
  margin: 0 auto;
  margin-top: 1vw;
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 10px;
  letter-spacing: -0.07em;
}
.pricebox__price {
  margin: 0 auto;
  margin-top: -0.5%;
  font-size: 47px;
  letter-spacing: 0.015em;
  padding-bottom: 20px;
}
.pricebox__price p::first-letter {
  font-size: 40px;
}
.pricebox__admfee {
  margin: 0 auto;
  margin-top: -7%;
  font-size: 16.5px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans";
  letter-spacing: -0.03em;
  padding-bottom: 20px;
}
.pricebox__separator {
  padding: 30px 0 29px;
  border-top: 1px solid #ccc;
}
.pricebox__separator h4 {
  margin-top: 1%;
  margin-bottom: -1%;
  font-size: 17px;
  letter-spacing: 0.00em;
}
.pricebox__separator p {
  margin-top: 3%;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.05em;
}
.pricebox__emptyarea {
  height: 35px;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: var(--main-color);
}
/*--------------------------------
FAQ
---------------------------------*/
.faq {
  padding-top: 8%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 2%;
}
.faq__title {
  font-size: 66px;
  letter-spacing: -0.015em;
}
.faq__titlekana {
  margin-top: 2%;
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.125em;
}
.faqlist__item {
  border-bottom: 1px solid #ccc;
}
.faqlist dt {
  display: flex;
  margin-top: 9.5%;
  margin-left: -1.7%;
  cursor: pointer;
}
.faqlist dt::after {
  display: block;
  margin-top: 3%;
  content: "expand_more";
  font-family: "Material Icons Round";
  font-size: 39px;
  font-weight: 200;
  color: var(--main-color);
  transform: translateY(-50%);
}
.faqlist dt.active::after {
  content: "expand_less";
}
.faq__q {
  flex: 0 0 10%;
  font-size: 38px;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
}
.faq__q--content {
  flex: 1;
  font-size: 26px;
  font-weight: 400;
  margin-top: 1%;
  margin-left: 3%;
  letter-spacing: -0.08em;
}
.faqlist dd {
  display: flex;
  margin-top: 2.5%;
  margin-left: -1.5%;
}
.faqlist__display-flex {
  display: flex;
}
.faq__a {
  flex: 0 0 10%;
  font-size: 38px;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
}
.faq__a--content {
  flex: 1;
  font-size: 23px;
  font-weight: 400;
  margin-top: 1%;
  margin-left: 3%;
  letter-spacing: -0.02em;
  line-height: 165%;
}
.faq__emptyarea {
  height: 80px;
}
/*--------------------------------
CTA
---------------------------------*/
.cta__lastmessege {
  text-align: center;
  padding: 30px 20px;
  background-color: var(--main-color);
}
.cta__title {
  font-size: 43px;
  font-weight: bold;
  color: #fff;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  letter-spacing: 0.005em;
}
.cta__lastmessege-btn {
  display: block;
  font-size: 20px;
  padding: 35px 0px;
  width: 85%;
  height: 80px;
  color: var(--main-color);
  background-color: #fff;
  margin: -1% 0% 4% 7.5%;
  letter-spacing: 0.09em;
}
/*--------------------------------
footer
---------------------------------*/
.footer {
  display: grid;
  place-items: center;
  padding: 15% 0;
  background-color: #141414;
}
.footer__log--img {
  width: 140px;
}
.page-top {
  display: none;
  position: fixed;
  right: 35px;
  bottom: 43px;
  z-index: 100;
}
.page-top__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.3s;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.page-top__icon {
  font-size: 39px;
  color: var(--main-color);
}
.page-top__link:hover {
  opacity: 0.8;
}

/* media Queries 375px以上 タブレット用
----------------------------------------------------*/
@media screen and (min-width: 375px) {
  header {
    background-color: red;
    opacity: 0.9999;
  }
}
/* media Queries 600px以上 タブレット用
----------------------------------------------------*/
@media screen and (min-width: 600px) {
  header {
    background-color: cyan;
    opacity: 0.9;
  }
}

/* media Queries 1025px以上
----------------------------------------------------*/
@media screen and (min-width: 1025px) {
  header {
    background-color: magenta;
    opacity: 0.9;
  }
  .intro__title--br {
    display: none;
  }
  .intro {
    text-align: center;
  }
  .about__train-img {
    width: 63.3vw;
  }
  .about__train-box {
    margin-top: max(-30.5vw,-478px);
    margin-left: min(57.7vw,905px);
  }
  .about__food-reverse {
    display: flex;
    justify-content: right;
  }
  .about__food-box {
    margin-top: min(9.5vw,138px);
    margin-right: min(57.6vw,750px);
  }
  .about__reg-btn {
    margin-top: 61px;
  }
  .trainer__tab--personlist {
    display: flex;
    column-gap: 30px;
    padding: 0 130px 0;
  }
  .trainer__tab--personbox {
    margin: 0;
  }
  .studio {
    margin-top: 3.8%;
  }
  .present__studio--title {
    font-size: 63px;
    margin-left: 51px;
  }
  .present__studio--titlekana {
    padding-top: 6px;
    padding-left: 53px;
    font-size: 19px;
  }
  .swiper-wrap {
    margin: 2% 0 0;
  }
    .swiper-button-next,
  .swiper-button-prev {
    width: 75px;
    height: 75px;
  }
  .swiper-button-prev {
    top: 46.5%;
    left: max(-40px,-5vw);
  }
  .swiper-button-next {
    top: 46.5%;
    left: min(1070px,78vw);
  }
}

/* media Queries 1440px以上
----------------------------------------------------*/
@media screen and (min-width: 1440px) {
  header {
    background-color: yellow;
    opacity: 0.9;
  }
}